<%- include("partials/header"); %>

<div class="navbar">To-Do List App</div>

<div class="register-page">

  <h1>Never miss any chore ever again.</h1>
  <h1><%= pageKey=="login"?"Sign in and get back to work!":"Enter your details and sign up today!" %> </h1>

  <form class="register" action="<%= "/"+pageKey %>"  method="post">

    <input type="text" name="fullName" id="" placeholder="Full name" value="<%-fullName%>">
    <input type="email" name="email" id="" placeholder="Email" value="<%=email%>">

    <% var passClass = ""; %>
    <% if (wrongPassword || notMatch) passClass = "wrong-pass" %>
    
    <input type="password" name="password" id="" placeholder="Password" class="<%=passClass%>" />
    <input type="<%= pageKey=="login"?"hidden":"password"%>"
    name="confirmPassword" id="" placeholder="Confirm Password" class="<%=passClass%>" />

    <% if (wrongPassword) { %>
     <div class="text-white"> Passwords do not match. </div>
    <% } %>

    <% if (notMatch) { %>
      <div class="text-white"> Check your Password </div>
     <% } %>

    <button class="btn btn-primary" type="submit"><%= pageKey=="login"?"Login":"Register" %></button>

    <!-- Google Button -->
    <div class="card-body">
      <a
        class="btn btn-block btn-social btn-google google-fb"
        href="#"
        role="button"
      >
        <i class="fab fa-google"></i>
        Sign <%= pageKey=="login"?"In":"Up" %>  with Google
      </a>
    </div>

    <!-- Facebook Button -->
    <div class="card-body">
      <a
        class="btn btn-block btn-social btn-facebook google-fb"
        href="#"
        role="button"
      >
        <i class="fab fa-facebook"></i>
        Sign <%= pageKey=="login"?"In":"Up" %>  with Facebook
      </a>
    </div>


    <div class="register-text" style=<%= pageKey=="login"?"display:none;":null %> >
     Already have an account? <a href="/login">Login</a>
    </div>

  </form>
</div>

<%- include("partials/footer"); %>
